@import './variables.scss';

.dropdowns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .collapse {
        width: 48%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.collapse-header-appart {
    font-size: 18px;
}

.appart {
    width: 100%;
    &_infos {
        @include flexbox(row, space-between, center);
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 100%;
            margin-bottom: 0;
        }
    }
    &_title {
        color: $primary;
        font-size: clamp(18px, 3vw, 36px);
        margin: 0;
        @media screen and (max-width: 768px) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    &_location {
        margin: 0;
        font-size: clamp(14px, 2vw, 18px);
        font-weight: 500;
    }
    &_profil_rating {
        @include flexbox(column, space-between, flex-end);
        @media screen and (max-width: 768px) {
            flex-direction: row-reverse;
            width: 100%;
            align-items: center;
        }
    }
    &_title_location_tags {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &_name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: clamp(12px, 3vw, 18px);
        font-weight: 500;
        @media screen and (max-width: 768px) {
            line-height: 17px;
        }
    }
    &_picture {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        margin-left: 20px;
        @media screen and (max-width: 768px) {
            width: 32px;
            height: 32px;
        }
    }
    &_profil {
        @include flexbox(row, space-around, center);
        margin-top: 10px;
        margin-bottom: 10px;
        height: 64px;
        line-height: 25.69px;
        color: $primary;
        @media screen and (max-width: 768px) {
            margin: 0;
        }
    }
    &_tags {
        margin-top: 20px;
        @include flexbox(row, space-between, center);
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            margin-top: 0;
        }
    }
    &_tag {
        background-color: $primary;
        border-radius: 10px;
        height: 25px;
        color: white;
        font-size: 14px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        padding: 2px 15px;
        @media screen and (max-width: 768px) {
            font-size: 10px;
            height: 18px;
            margin-top: 10px;
        }
    }
    &_rating {
        margin-top: 20px;
        display: inline-flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            margin-top: 0;
            width: 30%;
        }
        .tag_star {
            width: 24px;
            height: 24px;
            padding-left: 15px;
            @media screen and (max-width: 768px) {
                padding-left: 0;
                padding-right: 15px;
                width: 13px;
                height: 13px;
            }
        }
    }
}
